*{
    margin: 0px;
    box-sizing: border-box;
}
/* div{
    height: 230px;
    width: 230px;
    border: 10px solid red;
    background-color: yellow;
} */


div{
    height:350px;
    width:350px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 60px;
    transition-prop
: all;
    transition-duration: 3s;
    transition-delay: 2s;
} 
